section.main-header
  .overlay
    .container
      header
        .logo
          img(src="https://images.vexels.com/media/users/3/142777/isolated/preview/84711206e52e0d4ff6c793cb476ea264-heartbeat-star-medical-logo-by-vexels.png", alt="")
          span Sansa
        .nav
          a(href="") Blog
          a(href="") Register
          a(href="").active Login
        .menu: i.fa.fa-bars
      .content
        .content-wrapper
          h2.blob Get Answers to medical questions by medical expert, quickly and free.
          .button-wrapper
            .button.work How it works
              span: i.fa.fa-arrow-down
            .button.ask Ask Your First Question
            
            
section#how-it-works
  .container
    .intro Are you a doctor or a medical expert?
      span Become an Expert
        i.fa.fa-arrow-right
    .slug getting started only takes a minute
    .title How it does it Work?
    .content Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam esse autem amet, voluptatibus tempora fugiat rem atque vitae deserunt ratione. Quisquam animi vel distinctio, natus laboriosam molestias reiciendis quidem ullam.
    .icon-wrapper
      .icon
        i.fa.fa-heart
        p Create Medical File
      .icon
        i.fa.fa-question
        p Ask Your Question
      .icon
        i.fa.fa-comments
        p Talk to an expert
      .icon
        i.fa.fa-coffee
        p Have a better life
        
        
        
section#question
  .title Ask your Medical Question
  .content Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus aut, error provident fugit expedita autem aliquam! Minus, nam! Ut porro quae blanditiis hic cumque sit itaque ipsa commodi laboriosam. Necessitatibus.
  .form
    input(type="text" placeholder='My whole body is sore')
    i.fa.fa-arrow-right
    
    
    
section#talk

  .col-wrapper
    .col-50
      .title Talk to an Expert
      .content Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque optio odio, laudantium a omnis animi aliquid nemo laboriosam ab, reiciendis debitis vitae sequi distinctio dolore quisquam nesciunt sunt pariatur id?
      .options
        ul
          li 
            span: i.fa.fa-check
            | Chat with an expert
            
          li 
            span: i.fa.fa-check
            | Send photos with your question
    .col-50
    
section#signup
  .slug Seen enough and reay to get started
  .title Talk to a medical expert right now!
  .content Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed maxime quasi earum magnam consequuntur sapiente harum, quia itaque at labore. Laudantium, minus assumenda eligendi rerum quaerat nemo ipsam voluptas eum.
  .button-wrapper
    button.highlight Signup Now
    button Contact Us
    
section.footer
  .container
    .col-wrapper
      .col-1
        .logo
          img(src="https://images.vexels.com/media/users/3/142777/isolated/preview/84711206e52e0d4ff6c793cb476ea264-heartbeat-star-medical-logo-by-vexels.png", alt="")
          span Sansa
      .col-1
        ul
          li: a(href="").header More info
          li: a(href="") About Sansa
          li: a(href="") Terms and Condition
          li: a(href="") Frequently asked Questions
      .col-1
        ul
          li: a(href="").header Contact Us
          li: a(href="") azedi82@gmail.com
          li: a(href="") checkout projects
      .col-1
        ul
          li: a(href="").header Medical Advisor
          li: a(href="") Login
          li: a(href="") Dashboard
          li: a(href="") Become one
          
section#social-media
  .container
    .social-wrapper
      .copyright Copyright &copy; 2016
      .icons
        i.fa.fa-facebook
        i.fa.fa-twitter
      .slug
        span Made with Love By
        img(src="https://images.vexels.com/media/users/3/142777/isolated/preview/84711206e52e0d4ff6c793cb476ea264-heartbeat-star-medical-logo-by-vexels.png", alt="")